<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MidwestSpeedfest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MWSF.css" />
</head>
<body background="Content/Images/BG_BlueTriangles.png">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Midwest Speedfest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/UpcomingEvents">Upcoming Events</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Twitch and Social Media
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light bg-dark" href="https://www.twitch.tv/midwestspeedfest" target="_blank">Twitch</a>
                                <a class="dropdown-item text-light bg-dark" href="https://twitter.com/mwspeedfest" target="_blank">Twitter</a>
                                <a class="dropdown-item text-light bg-dark " href="https://discord.gg/NRBGDne" target="_blank">Discord</a>
                                <a class="dropdown-item text-light bg-dark" href="https://www.youtube.com/user/UCxZU3lVJEAW5P-PI9ozlqOg" target="_blank">Youtube</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.speedrun.com/mwsf2020" target="_blank">Current Marathon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.speedrun.com/midwest_speedfest" target="_blank">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        
    <footer class="border-top footer text-muted">
        <div class="container text-light">
            &copy; 2020 - MidwestSpeedfest - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
