@page "/MWSFHome"
@page "/"
@using AutoMapper
@using MWSFBlazorFrontEnd.Models.FrontPage
@using MWSFDataAccess.DataAccess
@using MWSFDataAccess.DataService.FrontPage
@using MWSFDataAccess.Models.FrontPage
@inject IFrontPageDataService DataService
@inject IMapper Mapper

<div class="container text-white" id="homepage_content">
    <div id="NonTwitchContent">
        @if (_settingsModel.ShowLogo)
        {
            <div class="row">
                <div id="mainLogo" class="col-12">
                    <img src="Content/Images/MWSF_Logo.png" class="img-fluid img-fluid mx-auto d-block main-logo" alt="Midwest Speedfest Logo">
                </div>
            </div>
        }

        <div class="row">
            <div id="htmlContent" class="col-12">
                @((MarkupString) _settingsModel.HtmlContent)
            </div>
        </div>

        @if (_settingsModel.ShowCountdown)
        {
            <div class="row">
                    <Countdown CountDownTitle="@_settingsModel.CountdownTitle" EndTime="_settingsModel.CountdownUntil ?? DateTime.Now" />
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public DisplayFrontPageSettingsModel DemoModel { get; set; }

    private DisplayFrontPageSettingsModel _settingsModel = new DisplayFrontPageSettingsModel();

    protected override async Task OnParametersSetAsync()
    {
        if (DemoModel == null || DemoModel == new DisplayFrontPageSettingsModel())
        {
            var dbSettings = await DataService.GetNewestFrontPageSettingsModel();

            if (dbSettings != null)
            {
                _settingsModel = Mapper.Map<DisplayFrontPageSettingsModel>(dbSettings);
            }
        }
        else
        {
            _settingsModel = DemoModel;
        }

        await base.OnParametersSetAsync();
    }

}