@page "/PrivacyPolicy"
                
<h1 class="text-center">Privacy Policy</h1>


<p><strong>Effective Date: 28-07-2022</strong></p>
<h3>Your privacy is important to us</h3>

    
    
    


<p>It is Midwest Speedfest's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://www.midwestspeedfest.com"> www.midwestspeedfest.com</a> (hereinafter, "us", "we", or "www.midwestspeedfest.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
<p>This Privacy Policy, together with the Terms of service posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms of service.</p><h2 id="tableofcontents">Contents</h2>
<p>Click below to jump to any section of this privacy policy</p>
<ol type="1">
    <li><a href="#PII"><strong>Personally-Identifying Information</strong></a>
</li>
    <li><a href="#Security"><strong>Security</strong></a>
</li>
    <li><a href="#ExternalLinks"><strong>Links To External Sites</strong></a>
</li>
    <li><a href="#PIIProtection"><strong>Protection of Certain Personally-Identifying Information</strong></a>
</li>
    <li><a href="#Cookies"><strong>Cookies</strong></a>
</li>
    <li><a href="#Changes"><strong>Privacy Policy Changes</strong></a>
</li>
    <li><a href="#Custom"><strong>Other Policies</strong></a>
</li>
    <li><a href="#Credit"><strong>Contact Information &amp; Credit</strong></a>
</li>

</ol>
<h2 id="PII">1. Personally-Identifying Information</h2><p>Certain visitors to Midwest Speedfest's websites choose to interact with Midwest Speedfest in ways that require Midwest Speedfest to gather personally-identifying information. The amount and type of information that Midwest Speedfest gathers depends on the nature of the interaction. For example we save any information you enter into a form on our site, such as account information, runner and volunteer applications, and associated discord IDs. You have the right to be forgotten and will be able to delete this information at your discretion.&nbsp;</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Security">2. Security</h2><p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="ExternalLinks">3. Links To External Sites and External Web Host</h2><p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms of service of every site you visit.</p><p>We operate with an external web host to host our content. We have no control over their privacy practices and encourage you to read their <a href="https://www.tmdhosting.com/terms-privacy-policy.html" title="Webhost privacy policy" target="_blank">privacy policy.</a></p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="PIIProtection">4. Protection of Certain Personally-Identifying Information</h2><p>Midwest Speedfest discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Midwest Speedfest's behalf or to provide services available at Midwest Speedfest's website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Midwest Speedfest's website, you consent to the transfer of such information to them. Midwest Speedfest will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Midwest Speedfest discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Midwest Speedfest believes in good faith that disclosure is reasonably necessary to protect the property or rights of Midwest Speedfest, third parties or the public at large.</p>
<p>If you are a registered user of https://www.midwestspeedfest.com and have supplied your email address, Midwest Speedfest may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Midwest Speedfest and our products. We primarily use our our website, Twitter or Discord to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it (with all personally identifying information removed) in order to help us clarify or respond to your request or to help us support other users. Midwest Speedfest takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Cookies">5. Cookies</h2><p>To enrich and perfect your online experience, Midwest Speedfest uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Midwest Speedfest uses cookies to help Midwest Speedfest identify and track visitors, their usage of https://www.midwestspeedfest.com, and their website access preferences. Midwest Speedfest visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Midwest Speedfest's websites, with the drawback that certain features of Midwest Speedfest's websites may not function properly without the aid of cookies.</p>
<p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Midwest Speedfest's use of cookies.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Changes">6. Privacy Policy Changes</h2><p>Although most changes are likely to be minor, Midwest Speedfest may change its Privacy Policy from time to time, and in Midwest Speedfest's sole discretion. Midwest Speedfest encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Custom">7. Other Policies</h2>
<h3>Right to be forgotten</h3>
<p>We at Midwest Speedfest believe in your right to be forgotten. You will have the ability to download all information we possess in regards to your account. You are able to delete that information and account at your discretion. </p>



<p><a href="#tableofcontents">Back to table of contents</a></p><h2 id="Credit">8. Contact Information &amp; Credit</h2><p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://privacyterms.io/privacy-policy-generator/" title="Privacy policy generator" target="_blank">privacyterms.io privacy policy generator</a>. If you have any questions about our Privacy Policy, please contact us via <a href="mailto:admin@midwestspeedfest.com">email</a> or <a href="tel:">phone</a>.</p>

<p><a href="#tableofcontents">Back to table of contents</a></p>            