@using Microsoft.Data.SqlClient
<MudAppBar Elevation="1">
    <MudIconButton Icon="@(DrawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <a href="#">
        <MudText Typo="Typo.h5" Style="white-space: nowrap">Midwest Speedfest</MudText>
    </a>
    <MudSpacer />
    <MudHidden Breakpoint="@Breakpoint.Xs">
        <SocialMediaIcons />
    </MudHidden>
    <MudDivider Vertical="true" Class="mx-5" Style="height: 70%" />
    <LoginDisplay/>
</MudAppBar>


@code {

    [Parameter]
    public EventCallback<bool> OnDrawerToggle { get; set; }

    [Parameter]
    public bool DrawerOpen { get; set; }

    void DrawerToggle()
    {
        DrawerOpen = !DrawerOpen;
        ReturnDrawerState();
    }

    private void ReturnDrawerState()
    {
        OnDrawerToggle.InvokeAsync(DrawerOpen);
    }

}