<li class="nav-item dropdown px-3">
    <NavLink class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-menu"></span> Twitch and Social Media
    </NavLink>
    <div class="dropdown-menu bg-dark" id="SocialMediaDropdown">
        <NavLink class="dropdown-item" href="https://www.twitch.tv/midwestspeedfest" target="_blank"> 
            <span class="oi oi-aperture"> Twitch</span>
        </NavLink>
        <NavLink class="dropdown-item" href="https://twitter.com/mwspeedfest" target="_blank"> 
            <span class="oi oi-pencil"> Twitter</span>
        </NavLink>
        <NavLink class="dropdown-item" href="https://discord.gg/NRBGDne" target="_blank"> 
            <span class="oi oi-chat"> Discord</span>
        </NavLink>
        <NavLink class="dropdown-item" href="https://www.youtube.com/user/UCxZU3lVJEAW5P-PI9ozlqOg" target="_blank">  
            <span class="oi oi-video"> Youtube</span>
        </NavLink>
    </div>
</li>
<li class="nav-item px-3" >
    <NavLink class="nav-link" href="https://www.speedrun.com/midwest_speedfest" target="_blank">
        <span class="oi oi-people" aria-hidden="true"></span> Staff
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="ContactUs">
        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact Us
    </NavLink>
</li>