<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    @*Brand*@
    <a class="navbar-brand" href="#">
        <span class="sr-only">Return home</span>
        <img src="/Content/Images/MWSF_Logo_NavBar.png" />
    </a>

    @*Collapse button*@
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @*Navigation links*@
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="nav navbar-dark navbar-nav mx-auto">
            <NavigationLinks />
        </ul>
        <ul class="nav navbar-dark navbar-nav mx-auto">
            <AdminLinks />
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <LoginDisplay />
        </ul>
    </div>
</nav>