@inherits LayoutComponentBase
@attribute [Authorize(Roles = Constants.AdminLevelRoles)]

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a class="navbar-brand" href="#">
            <span class="sr-only">Return home</span>
            <img src="/Content/Images/MWSF_Logo_NavBar.png" />
        </a>
        <MudSpacer />
        <ul class="nav navbar-nav ml-auto">
            <LoginDisplay />
        </ul>   
            @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <AdminLinks/>
    </MudDrawer>
    <MudMainContent>
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                You don't have access to this page
            </NotAuthorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}