@inherits LayoutComponentBase
@*<MudThemeProvider Theme="MudThemes.DefaultMudTheme" />*@

<MudLayout>
    <MudTopNavbar OnDrawerToggle="HandleDrawerToggle"></MudTopNavbar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Anchor="Anchor.Left" Elevation="2" >
        <a class="navbar-brand" href="#">
            <span class="sr-only">Return home</span>
            <img src="/Content/Images/MWSF_Logo_NavBar.png" />
        </a>
        <LoginDisplay />
        <NavigationLinks />
        <AdminLinks />
    </MudDrawer>

    <MudContainer Fixed="true" Class="my-3">
        @Body
    </MudContainer>


</MudLayout>

@code {
    bool _drawerOpen = false;

    private void HandleDrawerToggle(bool result)
    {
        _drawerOpen = result;
    }
}

