@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div>
    Thank you for registering! Your email has been successfully confirmed. You may now log in.
</div>