@page "/LogOut/"
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
       @{
        if (User.Identity.IsAuthenticated)
        {
             <h1>Are you sure you want to log out?</h1>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        }
        else
        {
            <h1>Log Out</h1>
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>