@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager*@

<AuthorizeView>
    <Authorized>
        <li class="nav-link">
            <span class="oi oi-person"><a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a></span>
        </li>
        <li class="nav=link">
            <a href="/LogOut/">Log Out</a>
        </li>
        @*<li>
                <form method="post" action="/LogOut/">
                    <button type="submit" class="nav-link btn btn-info">Log out</button>
                </form>
            </li>*@
        <!--<li>
            <form class="form-inline" action="/LogOut" method="post">
                <button type="submit" class="nav-link btn btn-info">Logout</button>
            </form>
        </li>-->
        @*<form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form><form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
        @*<li>
            <button type="button" class="nav-link btn btn-info" @onclick="Logout">Razor Logout</button>
        </li>*@
    </Authorized>
    <NotAuthorized>
        @*<li class="nav-link">
                <a href="Identity/Account/Register">Register</a>
            </li>*@
        <li class="nav-link">
            <a href="Login">Log in</a>
        </li>

    </NotAuthorized>
</AuthorizeView>

@code{


}