@using Microsoft.AspNetCore.Identity

<AuthorizeView>
    <Authorized>
        <MudMenu Direction="Direction.Start" Class="my-5" Dense="true">
            <ActivatorContent>
                <MudAvatar Variant="Variant.Outlined">
                    @context.User.Identity.Name.Substring(0, 1)
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudDivider Class="mb-2" />
                @*This is a "temporary" hack since the Link attribute for MudListItem isn't playing nice with Identity Framework*@
                <MudListItem>
                    <MudButton Link="/Identity/Account/Manage" StartIcon="@Icons.Material.Outlined.Person">
                        <span style="white-space: nowrap">Manage Account</span>
                    </MudButton>
                </MudListItem>
                <MudListItem>
                    <MudButton Link="/LogOut/" StartIcon="@Icons.Material.Outlined.Person">
                        <span style="white-space: nowrap">Logout</span>
                    </MudButton>
                </MudListItem>
            </ChildContent>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.Login"
                   IconClass="d-none d-sm-flex"
                   Link="/login">
            <span style="white-space: nowrap">Log In</span>
            </MudButton>
    </NotAuthorized>
</AuthorizeView>