/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  /*word-break: break-all;*/
}

/*50% opacity dark background for use throughout the site*/
.opacity-50-dark {
    background: #7f7f7f; /*for IE 8 plebs I guess*/
    background: rgba(0,0,0,0.5);
}


/* Provide sufficient contrast against blue background */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #00DD00;
    background-color: transparent;
    text-decoration: underline;
}

/*a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    color:#ffffff
}

/*Upcoming Events stuff*/
.upcoming-events-card {
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/*Countdown Timer*/
h1 {
    color: #FFF;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#countDown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#countDown > div {
    padding: 10px;
    border-radius: 3px;
    background: #55c6ff;
    display: inline-block;
}

#countDown div > span {
    padding: 15px;
    border-radius: 3px;
    background: #526fff;
    display: inline-block;
}

.countdownLabel {
    padding-top: 5px;
    font-size: 16px;
}

div.belowPlayerLinksWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: grey;
}

a.below_player_links {
    display: block;
    overflow: auto;
    float: left;
    text-align: center;
    width: 25%;
    font-size: 30px;
    font-weight: 100;
}

/*Twitch embed stuff, taken from https://philna.sh/blog/2020/03/23/responsive-twitch-embed/*/
.twitch .twitch-chat {
    height: 400px;
}

.twitch .twitch-chat iframe {
    width: 100%;
    height: 100%;
}

.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/*Staff Page Stuff*/
.staff-name-title-parent {

}
.staff-name {
    text-align: center;
}
.staff-title {
    list-style-type: none;
    font-style: italic;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .staff-name-title-parent li:not(:last-child):after {
       /*Add comma after list items, except the last one*/
        content: ", \00A0";
    }
    .staff-name {
       
    }
    .staff-title {
        display: inline;
    }
}

@media screen and (min-width: 850px) {
    .staff-name-title-parent {
    }

    .staff-name {

    }

    .staff-title {
        
    }
}

@media only screen and (max-width: 550px) {
    .staff-title {
        font-size: x-large;
    }
}

/*Social Media Icons*/
.social_media_icon_parent {
    text-align: center;
}

.social_media_icon {
    display: inline-block;
    max-height: 50px;
}

/*Staff Page Pronouns*/
.below_image_pronouns_dl {
    display: inline-block;
}

    .below_image_pronouns_dl dt:after {
        content: ": \2004";
    }

.below_image_pronouns_dt {
    display: inline-block;
}

.below_image_pronouns_dd {
    display: inline-block;
    min-width: 5%;  
}

/*Staff Page Logo image*/

.staff_logo {
    min-width: 85%;
}
/*Moblie screens*/
@media only screen and (max-width: 570px) {
    .staff_logo {
        min-width: 50%;
        max-width: 70%;
    }
}


/*Large screens only*/
@media screen and (min-width: 850px) {
    /*Main logo*/
    .main-logo {
        max-width: 800px;
        height: auto;
    }

    /*Twitch embed*/
    .twitch {
        position: relative;
    }

    .twitch .twitch-video {
        width: 75%;
        padding-top: 42.1875%;
    }

    .twitch .twitch-chat {
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}


/*Moblie screens*/
/*Hide twitch chat & control line break for links on mobile*/
@media only screen and (max-width: 550px) {
    .twitch .twitch-chat {
        display: none;
    }

    a.below_player_links {
        display: block;
        overflow: auto;
        float: left;
        text-align: center;
        width: 100%;
        font-size: 30px;
    }
}


