@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<script src="https://embed.twitch.tv/embed/v1.js"></script>*@
@*<script src="~/js/Countdown.min.js"></script>*@

<div id="NonTwitchContent">
    <div id="mainLogo" class="col 12">
        <img src="Content/Images/MWSF_Logo.png" class="img-fluid img-fluid mx-auto d-block main-logo" alt="Midwest Speedfest Logo">
    </div>

    <div id="headline" class="col-12">
        <div class="h1">Midfall Speedball 2020 has completed with a total of $3549 raised for the <a href="https://whitebearfoodshelf.org/"> White Bear Emergency Food Shelf!</a>
            <p>Thank you all for the support, we couldn't have done it without you!</p>
        </div>
    </div>
</div>

@*<div class="pt-3" id="SubmissionsInfo">
    <div class="h2">Submissions are currently open!</div>
    <ul>
        <li><a href="https://www.speedrun.com/mfsb2020/submitrun" a>Click here to Submit a run</a></li>
        <li>Submissions are open until Sunday, October 11th at 11:59pm (Central time)! </li>
        <li>Runners from all over the world are welcome to submit, but there is a cap of 5 submissions per runner. </li>
        <li>Volunteer applications will be opened at a later date.</li>
    </ul>
</div>*@

@*<div id="countDown" class="countDown col-12" style="display: none" ;>
    <h1>Countdown to Midfall Speedball 2020!</h1>
    <div class="col-auto countDownBox">
        <span id="day"></span>
        <div class="countdownLabel">Days</div>
    </div>
    <div class="col-auto countDownBox">
        <span id="hour"></span>
        <div class="countdownLabel">Hours</div>
    </div>
    <div class="col-auto countDownBox">
        <span id="minute"></span>
        <div class="countdownLabel">Minutes</div>
    </div>
    <div class="col-auto countDownBox">
        <span id="second"></span>
        <div class="countdownLabel">Seconds</div>
    </div>
</div>*@

@*<div id="omgWeAreLive" class="twitch" style="display: none" ;>
    <div class="twitch col-12">
        <h1>Midfall Speedball 2020 is live!</h1>
        <div id="twitch-video" class="twitch-video">
            <iframe src="https://player.twitch.tv/?channel=midwestspeedfest&@Model.TwitchEmbedParentString&autoplay=false"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"
                    height="100%"
                    width="100%">
            </iframe>
        </div>
        <div id="twitch-chat" class="twitch-chat">
            <iframe frameborder="0"
                    scrolling="no"
                    src="https://www.twitch.tv/embed/midwestspeedfest/chat?@Model.TwitchEmbedParentString&darkpopout"
                    height="100%"
                    width="100%">
            </iframe>
        </div>
    </div>

    <div class="belowPlayerLinksWrapper">
        <a href="https://www.twitch.tv/midwestspeedfest" class="below_player_links">Watch On Twitch</a>
        <a href="https://horaro.org/mfsb2020/schedule" target="_blank" class="below_player_links">View Schedule</a>
        <a href="https://www.speedrun.com/mfsb2020/donate" target="_blank" class="below_player_links">Donate</a>
        $1$ <a href="https://theyetee.com/collections/2d-con/products/midwest-speedfest-2020" target="_blank" class="below_player_links">Buy a shirt!</a>#1#
        $1$<a href="https://theyetee.com/collections/2d-con/products/midwest-speedfest-2020" target="_blank" class="below_player_links">Support via Humble</a>#1#
        $1$ <a href="https://rogueenergy.com/?rfsn=4024157.5daeea&utm_source=refersion&utm_medium=affiliate&utm_campaign=4024157.5daeea" target="_blank" class="below_player_links">Rouge Energy!</a>#1#
    </div>
</div>*@
