@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col d-flex align-items-center justify-content-center">
    <img src="Content/Images/MWSF_Logo.png" class="img-fluid mx-auto d-block img-main-logo" alt="Midwest Speedfest logo" />
</div>

