@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-12">
    <img src="Content/Images/MWSF_Logo.png" class="img-fluid mx-auto d-block" alt="Midwest Speedfest logo" />
</div>
