@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Welcome to our Privacy Policy</h1>
<h3>Your privacy is critically important to us.</h3>

<p>It is Midwest Speedfest's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://www.midwestspeedfest.com">https://www.midwestspeedfest.com</a> (hereinafter, "us", "we", or "https://www.midwestspeedfest.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
<p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

<h2>Website Visitors</h2>
<p>Like most website operators, Midwest Speedfest collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Midwest Speedfest's purpose in collecting non-personally identifying information is to better understand how Midwest Speedfest's visitors use its website. From time to time, Midwest Speedfest may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
<p>We do not collect or store any personally-identifying information</p>

<h2>Links To External Sites</h2>
<p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

<h2>External Host</h2>
<p>Midwest Speedfest uses a third party service to host this site. Here is a link to <a href="https://www.smarterasp.net/privacy"> our host's privacy policy</a> for your review</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

<h2>Credit & Contact Information</h2>
<p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://termsandconditionstemplate.com/privacy-policy-generator/" title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you have any questions about this Privacy Policy, please contact us via the links on our  <a href="mailto:nope@midwestspeedfest.com">contact us </a> page.</p>
