@page
@model MidwestSpeedfest.Pages.UpcomingEventsModel
@{
    ViewData["Title"] = "Upcoming Events";
}

<h1>@ViewData["Title"]</h1>

<div class="card-deck">
    @foreach (var cardHtmlString in Model.Cards)
    {
        @cardHtmlString
    }
</div>