<h3>Login</h3>

@code {

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    private async Task<bool> ValidateUser()
    {

        return await Task.FromResult(false);
    }
}
